@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

:root {
  --darkgreen: #001920;
  --darkblue: #152C5B;
  --lightblue: #3252DF;
  --pink: #FF498B;
  --yellow: #FFCC47;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: visible;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color: var(--darkgreen);
  background-color: #ffffff;

  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.dark {
  color: #ffffff;
  background-color: var(--darkgreen);
}

.container-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
}

header > div {
  width: min(100vw - 5em, 1150px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--lightblue);
}

main {
  width: min(100vw - 5em, 1150px);
  margin-top: 40px;
}

footer {
  border-top: 1px solid lightgrey;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer > div {
  width: min(100vw - 5em, 1150px);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

a:hover {
  cursor: pointer;
  color: var(--darkblue);
}

.animasi-teks {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: animasi-ketik 5s steps(70, end);
  animation: animasi-ketik 5s steps(70, end);
}

@keyframes animasi-ketik {
  from {
    width: 0;
  }
}
@-webkit-keyframes animasi-ketik {
  from {
    width: 0;
  }
}

.particle {
  animation: rotate 10s infinite normal none;
  -webkit-animation: rotate 10s infinite normal none;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}